.bash_logout
.bashrc
.cache/
.conda/
.ipynb_checkpoints/
.ipython/
.jupyter-server-log.txt
.jupyter/
.local/
.profile
.gitconfig
Linear Modelling Notebook.py
Python_linearmodelling.ipynb
Python_linearmodelling.ipynb:Zone.Identifier
R_linearmodelling.ipynb
R_linearmodelling.ipynb:Zone.Identifier
Untitled.ipynb
data/
run.sh
run.sh:Zone.Identifier
test1